<%= stylesheet 'comment' %>

<% post.comments.each do |comment| %>
<article class="comment" id="comment-<%= comment.id %>">
  <header>
    <address>
      <div class="member-name">
        <%= comment.member.name_display %>
      </div>
      <div class="comment-stats">
        <time datetime="<%= comment.time_created %>"><%= ago(comment.time_created) %></time>
      </div>
    </address>
    <div class="comment-tools">
      <% if comment.like_by(current_account.member) %>
        <a href="<%= routes.path(:comment_unlike, comment_id: comment.id) %>" title="unlike this comment">unlike</a>
      <% else %>
        <a href="<%= routes.path(:comment_like, comment_id: comment.id) %>" title="like this comment">like</a>
      <% end %>
    </div>
  </header>

  <%= comment.text_rendered(current_account) %>
</article>
<% end %>

<form
  method="POST"
  action="<%= routes.path(:comment_create, post_id: post.id) %>"
  class="comment-create"
>
  <input type="hidden" name="_csrf_token" value="<%= csrf_token %>"/>
  <label for="new-comment-on-post-<%= post.id %>">
    <%= I18n.t('post.New comment') %>
    <textarea
      id="new-comment-on-post-<%= post.id %>"
      name="text"
      rows="3"
      placeholder="<%= I18n.t('post.comment_placeholder') %>"
      required="true"
    ></textarea>
  </label>
  <input
    class="button-primary"
    type="submit"
    value="<%= post.v_internet? ? I18n.t('Comment to Internet') : I18n.t('Comment') %>"
  />
</form>
