<%= stylesheet 'post' %>

<article class="post">
  <header>
    <address>
      <div class="member-name">
        <%= post.member.name_display %>
      </div>
      <div class="post-stats">
        <time datetime="<%= post.time_created %>"><%= ago(post.time_created) %></time>
      </div>
    </address>
    <div class="post-tools">
      <% if post.like_by(current_account.member) %>
        <a href="<%= routes.path(:post_unlike, post_id: post.id) %>" title="unlike this post">unlike</a>
      <% else %>
        <a href="<%= routes.path(:post_like, post_id: post.id) %>" title="like this post">like</a>
      <% end %>
      <a href="<%= routes.path(:post_mark_unread, post_id: post.id) %>" title="mark this post as unread">mark unread</a>
    </div>
  </header>

  <div class="text">
    <%= post.text_rendered(current_account) %>
  </div>

  <div class="comments">
    <div class="count"><%= I18n.t('post.num_comments', count: post.comments.count) %></div>
    <%= render partial: 'post/comments', locals: { post: post } %>
  </div>
</article>
