<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Libertree</title>
    <%= favicon %>
    <style type="text/css">
    @font-face {
      font-family: "Source Sans Pro";
      src: url("assets/SourceSansPro-Regular.otf") format('opentype');
      font-weight: normal;
      font-style: normal;
    }
    @font-face {
      font-family: "Source Sans Pro";
      src: url("assets/SourceSansPro-It.otf") format('opentype');
      font-weight: normal;
      font-style: italic;
    }
    @font-face {
      font-family: "Source Sans Pro";
      src: url("assets/SourceSansPro-Bold.otf") format('opentype');
      font-weight: bold;
      font-style: normal;
    }
    @font-face {
      font-family: "Source Sans Pro";
      src: url("assets/SourceSansPro-BoldIt.otf") format('opentype');
      font-weight: bold;
      font-style: italic;
    }
    body {
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 20px;
    }
    </style>
  </head>
  <body>
    <header>
      <% if flash[:error] %>
        <div>
          <%= flash[:error] %>
        </div>
      <% end %>
      <% if flash[:success] %>
        <div>
          <%= flash[:success] %>
        </div>
      <% end %>

      <% if current_account %>
        <nav aria-label="Navigation">
          <a href="<%= routes.path(:home) %>">home</a>
          <a
            href="<%= routes.path(:post_latest_unread) %>"
            title="read the latest unread post"
          >latest unread</a>
          <span>Signed in as <%= current_account.username %></span>
          <a href="<%= routes.path(:sign_out) %>">sign out</a>
        </nav>
      <% end %>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
